/* Ogólne style dla całego dokumentu */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.container {
    background: rgb(202, 40, 40);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-weight: bold;
    color: #4CAF50;
}

input {
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    padding: 15px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45A049;
}

button:active {
    transform: scale(0.98);
}

.error-message {
    position: absolute;
    top: 10px;
    
    padding: 10px;
    color: #f44336;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    input, button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    input, button {
        font-size: 12px;
        padding: 8px;
    }
    
}
